{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto;  width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper row row-cols-md-3">

    {% for article in articles %}

<div class="col">
        <div class="card text-center mb-2">
            <div class="card-header">
                {{ article.titre }}
            </div>
            <div class="card-body">

                <p class="card-text">{{ article.contenu }}</p>
                <a class="btn btn-primary" href="{{ path('app_article_show', { 'id': article.id }) }}">Voir l'article</a>

            </div>
            <div class="card-footer text-body-secondary">
                <p>{% for tag in article.tags %}
                    #{{tag.libelle}}{% if  loop.last == false %} - {% endif %}
                {% endfor %}
                </p>
                Crée par {{ article.auteur.prenom | default('N/A') }} le {{ article.datecreation | date("d/m/Y h:i:s") }}
            </div>
        </div>
</div>
<br>
    {% else %}
        <p>Il n'y a aucun article pour le moment.</p>
    {%  endfor %}
</div>
{% endblock %}
